# Data Cleaning 
The first step is to clean both datasets for further analysis

In [1]:
# Import libs
import pandas as pd
import numpy as np

## Review the dataset 1 ('data_n1')
We need to review the first dataset for the project, which will be initially called data_n1

In [3]:
# Read database 1 
data_n1 = pd.read_csv("data_n1.csv")

In [7]:
# General data_n1 view
data_n1.head(10)

,title,year,certificate,duration,genre,rating,description,stars,votes
0,Cobra Kai,(2018– ),TV-14,30 min,"Action, Comedy, Drama",8.5,Decades after their 1984 All Valley Karate Tou...,"['Ralph Macchio, ', 'William Zabka, ', 'Courtn...","177,031"
1,The Crown,(2016– ),TV-MA,58 min,"Biography, Drama, History",8.7,Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...","199,885"
2,Better Call Saul,(2015–2022),TV-MA,46 min,"Crime, Drama",8.9,The trials and tribulations of criminal lawyer...,"['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...","501,384"
3,Devil in Ohio,(2022),TV-MA,356 min,"Drama, Horror, Mystery",5.9,When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...","9,773"
4,Cyberpunk: Edgerunners,(2022– ),TV-MA,24 min,"Animation, Action, Adventure",8.6,A Street Kid trying to survive in a technology...,"['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...","15,413"
5,The Sandman,(2022– ),TV-MA,45 min,"Drama, Fantasy, Horror",7.8,Upon escaping after decades of imprisonment by...,"['Tom Sturridge, ', 'Boyd Holbrook, ', 'Patton...","116,358"
6,Rick and Morty,(2013– ),TV-MA,23 min,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"['Justin Roiland, ', 'Chris Parnell, ', 'Spenc...","502,160"
7,Breaking Bad,(2008–2013),TV-MA,49 min,"Crime, Drama, Thriller",9.5,A high school chemistry teacher diagnosed with...,"['Bryan Cranston, ', 'Aaron Paul, ', 'Anna Gun...","1,831,340"
8,The Imperfects,(2022– ),TV-MA,45 min,"Action, Adventure, Drama",6.3,After an experimental gene therapy turns them ...,"['Morgan Taylor Campbell, ', 'Italia Ricci, ',...","3,123"
9,Blonde,(2022),NC-17,166 min,"Biography, Drama, Mystery",6.2,A fictionalized chronicle of the inner life of...,"['Andrew Dominik', '| ', ' Stars:', 'Ana de...",935

In [9]:
# Review data_n1 information 
data_n1.shape

(9957, 9)

In [21]:
# Review data_n1 general information
data_n1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9957 entries, 0 to 9956
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        9957 non-null   object
 1   year         9430 non-null   object
 2   certificate  6504 non-null   object
 3   duration     7921 non-null   object
 4   genre        9884 non-null   object
 5   rating       8784 non-null   float64
 6   description  9957 non-null   object
 7   stars        9957 non-null   object
 8   votes        8784 non-null   object
dtypes: float64(1), object(8)
memory usage: 700.2+ KB

In [11]:
# Review data_n1 columns 
data_n1.columns

Index(['title', 'year', 'certificate', 'duration', 'genre', 'rating',
       'description', 'stars', 'votes'],
      dtype='object')

In [13]:
# Review the data and how many rows have missing information in each columns
data_n1.isna().sum()

title             0
year            527
certificate    3453
duration       2036
genre            73
rating         1173
description       0
stars             0
votes          1173
dtype: int64

In [17]:
# Make a copy of clean_datan1 to clean
clean_datan1 = data_n1

In [19]:
# Review the data and how many rows have missing information in each columns
clean_datan1.isna().sum()

title             0
year            527
certificate    3453
duration       2036
genre            73
rating         1173
description       0
stars             0
votes          1173
dtype: int64

## Review the dataset 2 ('data_n2') 
We need to review the first dataset for the project, which will be initially called data_n2

In [23]:
# Read database 2 
data_n2 = pd.read_csv("data_n2.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xcc in position 2136: invalid continuation byte

In [25]:
# Read the file with ISO-8859-1 encoding
data_n2 = pd.read_csv("data_n2.csv", encoding='ISO-8859-1')

In [27]:
# General data_n2 view
data_n2.head(10)

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
5,Supernatural,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80
6,Breaking Bad,TV-MA,For mature audiences. May not be suitable for...,110,2013,97.0,80
7,The Vampire Diaries,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2017,91.0,80
8,The Walking Dead,TV-MA,For mature audiences. May not be suitable for...,110,2015,98.0,80
9,Pretty Little Liars,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,96.0,80

In [29]:
# Review data_n2 information 
data_n2.shape

(1000, 7)

In [31]:
# Review data_n2 general information
data_n2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              1000 non-null   object
 1   rating             1000 non-null   object
 2   ratingLevel        941 non-null    object
 3   ratingDescription  1000 non-null   int64
 4   release year       1000 non-null   int64
 5   user rating score  605 non-null    float64
 6   user rating size   1000 non-null   int64
dtypes: float64(1), int64(3), object(3)
memory usage: 54.8+ KB

In [33]:
# Review data_n2 columns 
data_n2.columns

Index(['title', 'rating', 'ratingLevel', 'ratingDescription', 'release year',
       'user rating score', 'user rating size'],
      dtype='object')

In [35]:
# Review the data and how many rows have missing information in each columns
data_n2.isna().sum()

title                  0
rating                 0
ratingLevel           59
ratingDescription      0
release year           0
user rating score    395
user rating size       0
dtype: int64

In [37]:
# Make a copy of clean_datan2 to clean
clean_datan2 = data_n2

In [39]:
# Review the data and how many rows have missing information in each columns
clean_datan2.isna().sum()

title                  0
rating                 0
ratingLevel           59
ratingDescription      0
release year           0
user rating score    395
user rating size       0
dtype: int64

## Review the dataset 3 ('data_n3') 
We need to review the first dataset for the project, which will be initially called data_n3

In [41]:
# Read database 3 
data_n3 = pd.read_csv("data_n3.csv")

In [43]:
# General data_n3 view
data_n3.head(10)

,title,genre,language,imdb_score,premiere,runtime,year
0,Notes for My Son,Drama,Spanish,6.3,11/24/2020,83,2020
1,"To Each, Her Own",Romantic comedy,French,5.3,6/24/2018,95,2018
2,The Lovebirds,Romantic comedy,English,6.1,5/22/2020,87,2020
3,The Perfection,Horror-thriller,English,6.1,5/24/2019,90,2019
4,Happy Anniversary,Romantic comedy,English,5.8,3/30/2018,78,2018
5,Why Did You Kill Me?,Documentary,English,5.6,4/14/2021,83,2021
6,Death to 2020,Comedy,English,6.8,12/27/2020,70,2020
7,Brene Brown: The Call to Courage,Documentary,English,7.7,4/19/2019,76,2019
8,Operation Christmas Drop,Romantic comedy,English,5.8,11/5/2020,96,2020
9,The Lonely Island Presents: The Unauthorized B...,Comedy / Musical,English,6.9,5/23/2019,30,2019

In [45]:
# Review data_n3 information 
data_n3.shape

(583, 7)

In [47]:
# Review data_n3 general information
data_n3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       583 non-null    object
 1   genre       583 non-null    object
 2   language    583 non-null    object
 3   imdb_score  583 non-null    float64
 4   premiere    583 non-null    object
 5   runtime     583 non-null    int64
 6   year        583 non-null    int64
dtypes: float64(1), int64(2), object(4)
memory usage: 32.0+ KB

In [49]:
# Review data_n3 columns 
data_n3.columns

Index(['title', 'genre', 'language', 'imdb_score', 'premiere', 'runtime',
       'year'],
      dtype='object')

In [51]:
# Review the data and how many rows have missing information in each columns
data_n3.isna().sum()

title         0
genre         0
language      0
imdb_score    0
premiere      0
runtime       0
year          0
dtype: int64

### Make the dataset 3 ('data_f3') dirtier
As the data_f3 is pretty clean as it is and the analysis is done as the final project of an academic subject, we will introduce errors in data_f3 to clean it afterward.

### Cleaning dirty dataset 2 ('dirty_dataf3')
The following section is about how to clean dirty_dataf3 after introducing multiple problems in the dataset