# Data Cleaning 
The first step is to clean both datasets for further analysis

In [2]:
# Import libs
import pandas as pd
import numpy as np

## Review the dataset 1 ('data_n1')
We need to review the first dataset for the project, which will be initially called data_n1

In [4]:
# Read database 1 
data_n1 = pd.read_csv("https://raw.githubusercontent.com/r41ss4/rennes_ba/refs/heads/main/data/raw/data_n1.csv")

In [8]:
# General data_n1 view
data_n1.head(10)

,title,year,certificate,duration,genre,rating,description,stars,votes
0,Cobra Kai,(2018– ),TV-14,30 min,"Action, Comedy, Drama",8.5,Decades after their 1984 All Valley Karate Tou...,"['Ralph Macchio, ', 'William Zabka, ', 'Courtn...","177,031"
1,The Crown,(2016– ),TV-MA,58 min,"Biography, Drama, History",8.7,Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...","199,885"
2,Better Call Saul,(2015–2022),TV-MA,46 min,"Crime, Drama",8.9,The trials and tribulations of criminal lawyer...,"['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...","501,384"
3,Devil in Ohio,(2022),TV-MA,356 min,"Drama, Horror, Mystery",5.9,When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...","9,773"
4,Cyberpunk: Edgerunners,(2022– ),TV-MA,24 min,"Animation, Action, Adventure",8.6,A Street Kid trying to survive in a technology...,"['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...","15,413"
5,The Sandman,(2022– ),TV-MA,45 min,"Drama, Fantasy, Horror",7.8,Upon escaping after decades of imprisonment by...,"['Tom Sturridge, ', 'Boyd Holbrook, ', 'Patton...","116,358"
6,Rick and Morty,(2013– ),TV-MA,23 min,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"['Justin Roiland, ', 'Chris Parnell, ', 'Spenc...","502,160"
7,Breaking Bad,(2008–2013),TV-MA,49 min,"Crime, Drama, Thriller",9.5,A high school chemistry teacher diagnosed with...,"['Bryan Cranston, ', 'Aaron Paul, ', 'Anna Gun...","1,831,340"
8,The Imperfects,(2022– ),TV-MA,45 min,"Action, Adventure, Drama",6.3,After an experimental gene therapy turns them ...,"['Morgan Taylor Campbell, ', 'Italia Ricci, ',...","3,123"
9,Blonde,(2022),NC-17,166 min,"Biography, Drama, Mystery",6.2,A fictionalized chronicle of the inner life of...,"['Andrew Dominik', '| ', ' Stars:', 'Ana de...",935

In [9]:
# Review data_n1 information 
data_n1.shape

(9957, 9)

In [10]:
# Review data_n1 general information
data_n1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9957 entries, 0 to 9956
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        9957 non-null   object
 1   year         9430 non-null   object
 2   certificate  6504 non-null   object
 3   duration     7921 non-null   object
 4   genre        9884 non-null   object
 5   rating       8784 non-null   float64
 6   description  9957 non-null   object
 7   stars        9957 non-null   object
 8   votes        8784 non-null   object
dtypes: float64(1), object(8)
memory usage: 700.2+ KB

In [11]:
# Review data_n1 columns 
data_n1.columns

Index(['title', 'year', 'certificate', 'duration', 'genre', 'rating',
       'description', 'stars', 'votes'],
      dtype='object')

In [12]:
# Review the data and how many rows have missing information in each columns
data_n1.isna().sum()

title             0
year            527
certificate    3453
duration       2036
genre            73
rating         1173
description       0
stars             0
votes          1173
dtype: int64

## Cleaning the dataset 1 ('data_n1')
The dataset data_n1 requires cleaning for further analysis, the clean copy will be initially called clean_datan1

In [13]:
# Make a copy of clean_datan1 to clean
clean_datan1 = data_n1

In [14]:
# Review the data and how many rows have missing information in each columns
clean_datan1.isna().sum()

title             0
year            527
certificate    3453
duration       2036
genre            73
rating         1173
description       0
stars             0
votes          1173
dtype: int64

In [15]:
# Check duplicated data
clean_datan1.drop_duplicates()

Empty DataFrame
Columns: [title, year, certificate, duration, genre, rating, description, stars, votes]
Index: []

In [16]:
# Review the data and how many rows have missing information in each columns
clean_datan1.isna().sum()

In [30]:
# Complete missing values of 'duration'
# Identify values of duration
clean_datan1['duration'].unique()

array(['30 min', '58 min', '46 min', '356 min', '24 min', '45 min',
       '23 min', '49 min', '166 min', '51 min', '89 min', '44 min',
       '139 min', '118 min', '110 min', '60 min', nan, '178 min',
       '41 min', '50 min', '22 min', '326 min', '122 min', '101 min',
       '43 min', '42 min', '114 min', '55 min', '48 min', '113 min',
       '201 min', '53 min', '147 min', '54 min', '7 min', '104 min',
       '187 min', '179 min', '102 min', '169 min', '47 min', '534 min',
       '194 min', '88 min', '75 min', '25 min', '15 min', '70 min',
       '59 min', '127 min', '124 min', '106 min', '97 min', '52 min',
       '65 min', '135 min', '572 min', '112 min', '138 min', '155 min',
       '450 min', '121 min', '117 min', '111 min', '151 min', '129 min',
       '149 min', '98 min', '108 min', '116 min', '94 min', '40 min',
       '136 min', '115 min', '268 min', '132 min', '109 min', '128 min',
       '80 min', '56 min', '99 min', '545 min', '140 min', '96 min',
       '90 min', '125 min', '11 min', '270 min', '126 min', '494 min',
       '174 min', '105 min', '208 min', '298 min', '157 min', '209 min',
       '156 min', '452 min', '107 min', '123 min', '385 min', '130 min',
       '119 min', '103 min', '28 min', '134 min', '87 min', '95 min',
       '363 min', '100 min', '82 min', '133 min', '260 min', '20 min',
       '81 min', '84 min', '120 min', '35 min', '93 min', '137 min',
       '92 min', '148 min', '218 min', '280 min', '91 min', '152 min',
       '458 min', '370 min', '85 min', '150 min', '142 min', '375 min',
       '160 min', '16 min', '296 min', '78 min', '143 min', '331 min',
       '177 min', '12 min', '131 min', '154 min', '86 min', '491 min',
       '386 min', '362 min', '197 min', '342 min', '83 min', '9 min',
       '10 min', '368 min', '467 min', '26 min', '557 min', '220 min',
       '347 min', '29 min', '67 min', '267 min', '202 min', '264 min',
       '34 min', '18 min', '990 min', '312 min', '33 min', '629 min',
       '63 min', '284 min', '21 min', '74 min', '313 min', '360 min',
       '144 min', '57 min', '64 min', '167 min', '192 min', '230 min',
       '460 min', '17 min', '212 min', '145 min', '162 min', '316 min',
       '281 min', '240 min', '37 min', '461 min', '403 min', '258 min',
       '76 min', '79 min', '4 min', '68 min', '31 min', '62 min',
       '27 min', '61 min', '333 min', '306 min', '236 min', '77 min',
       '231 min', '216 min', '189 min', '542 min', '241 min', '374 min',
       '300 min', '32 min', '204 min', '247 min', '39 min', '163 min',
       '191 min', '183 min', '38 min', '158 min', '291 min', '13 min',
       '228 min', '227 min', '171 min', '436 min', '200 min', '853 min',
       '287 min', '384 min', '203 min', '172 min', '170 min', '233 min',
       '73 min', '205 min', '253 min', '185 min', '180 min', '36 min',
       '337 min', '395 min', '72 min', '3 min', '242 min', '271 min',
       '288 min', '243 min', '217 min', '164 min', '71 min', '239 min',
       '8 min', '229 min', '195 min', '66 min', '252 min', '141 min',
       '330 min', '273 min', '69 min', '224 min', '19 min', '249 min',
       '153 min', '5 min', '573 min', '188 min', '210 min', '290 min',
       '173 min', '181 min', '244 min', '161 min', '6 min', '1 min',
       '439 min', '437 min', '175 min', '14 min', '211 min', '225 min',
       '2 min', '303 min', '351 min', '245 min', '184 min', '146 min',
       '418 min', '373 min', '186 min', '165 min'], dtype=object)

In [32]:
# Eliminate ' min' in all rows of duration
clean_datan1['duration'] = clean_datan1['duration'].str.replace(' min', '')
# Review changes 
clean_datan1.head(10)

,title,year,certificate,duration,genre,rating,description,stars,votes
0,Cobra Kai,(2018– ),TV-14,30,"Action, Comedy, Drama",8.5,Decades after their 1984 All Valley Karate Tou...,"['Ralph Macchio, ', 'William Zabka, ', 'Courtn...","177,031"
1,The Crown,(2016– ),TV-MA,58,"Biography, Drama, History",8.7,Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...","199,885"
2,Better Call Saul,(2015–2022),TV-MA,46,"Crime, Drama",8.9,The trials and tribulations of criminal lawyer...,"['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...","501,384"
3,Devil in Ohio,(2022),TV-MA,356,"Drama, Horror, Mystery",5.9,When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...","9,773"
4,Cyberpunk: Edgerunners,(2022– ),TV-MA,24,"Animation, Action, Adventure",8.6,A Street Kid trying to survive in a technology...,"['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...","15,413"
5,The Sandman,(2022– ),TV-MA,45,"Drama, Fantasy, Horror",7.8,Upon escaping after decades of imprisonment by...,"['Tom Sturridge, ', 'Boyd Holbrook, ', 'Patton...","116,358"
6,Rick and Morty,(2013– ),TV-MA,23,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"['Justin Roiland, ', 'Chris Parnell, ', 'Spenc...","502,160"
7,Breaking Bad,(2008–2013),TV-MA,49,"Crime, Drama, Thriller",9.5,A high school chemistry teacher diagnosed with...,"['Bryan Cranston, ', 'Aaron Paul, ', 'Anna Gun...","1,831,340"
8,The Imperfects,(2022– ),TV-MA,45,"Action, Adventure, Drama",6.3,After an experimental gene therapy turns them ...,"['Morgan Taylor Campbell, ', 'Italia Ricci, ',...","3,123"
9,Blonde,(2022),NC-17,166,"Biography, Drama, Mystery",6.2,A fictionalized chronicle of the inner life of...,"['Andrew Dominik', '| ', ' Stars:', 'Ana de...",935

In [40]:
# Fill NaN values with 0
clean_datan1['duration'] = clean_datan1['duration'].fillna(0)

In [48]:
# Turn duration into int
clean_datan1['duration'] = clean_datan1['duration'].astype(float)

In [50]:
# Calculate the mean of the non-zero values
mean_duration = clean_datan1[clean_datan1['duration'] != 0]['duration'].mean()

# Replace 0 values with the mean duration
clean_datan1.loc[clean_datan1['duration'] == 0, 'duration'] = mean_duration

In [52]:
# Change 'duration' name for 'duration_min'
clean_datan1 = clean_datan1.rename(columns={'duration': 'duration_min'})
# Review changes 
clean_datan1.head(10)

,title,year,certificate,duration_min,genre,rating,description,stars,votes
0,Cobra Kai,(2018– ),TV-14,30.0,"Action, Comedy, Drama",8.5,Decades after their 1984 All Valley Karate Tou...,"['Ralph Macchio, ', 'William Zabka, ', 'Courtn...","177,031"
1,The Crown,(2016– ),TV-MA,58.0,"Biography, Drama, History",8.7,Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...","199,885"
2,Better Call Saul,(2015–2022),TV-MA,46.0,"Crime, Drama",8.9,The trials and tribulations of criminal lawyer...,"['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...","501,384"
3,Devil in Ohio,(2022),TV-MA,356.0,"Drama, Horror, Mystery",5.9,When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...","9,773"
4,Cyberpunk: Edgerunners,(2022– ),TV-MA,24.0,"Animation, Action, Adventure",8.6,A Street Kid trying to survive in a technology...,"['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...","15,413"
5,The Sandman,(2022– ),TV-MA,45.0,"Drama, Fantasy, Horror",7.8,Upon escaping after decades of imprisonment by...,"['Tom Sturridge, ', 'Boyd Holbrook, ', 'Patton...","116,358"
6,Rick and Morty,(2013– ),TV-MA,23.0,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"['Justin Roiland, ', 'Chris Parnell, ', 'Spenc...","502,160"
7,Breaking Bad,(2008–2013),TV-MA,49.0,"Crime, Drama, Thriller",9.5,A high school chemistry teacher diagnosed with...,"['Bryan Cranston, ', 'Aaron Paul, ', 'Anna Gun...","1,831,340"
8,The Imperfects,(2022– ),TV-MA,45.0,"Action, Adventure, Drama",6.3,After an experimental gene therapy turns them ...,"['Morgan Taylor Campbell, ', 'Italia Ricci, ',...","3,123"
9,Blonde,(2022),NC-17,166.0,"Biography, Drama, Mystery",6.2,A fictionalized chronicle of the inner life of...,"['Andrew Dominik', '| ', ' Stars:', 'Ana de...",935

In [54]:
# Review general information
clean_datan1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9957 entries, 0 to 9956
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         9957 non-null   object
 1   year          9430 non-null   object
 2   certificate   6504 non-null   object
 3   duration_min  9957 non-null   float64
 4   genre         9884 non-null   object
 5   rating        8784 non-null   float64
 6   description   9957 non-null   object
 7   stars         9957 non-null   object
 8   votes         8784 non-null   object
dtypes: float64(2), object(7)
memory usage: 700.2+ KB

In [56]:
# Review the data and how many rows have missing information in each columns
clean_datan1.isna().sum()

title              0
year             527
certificate     3453
duration_min       0
genre             73
rating          1173
description        0
stars              0
votes           1173
dtype: int64

In [60]:
# Fill missing values in genre with the mode
clean_datan1['genre'] = clean_datan1['genre'].fillna(clean_datan1['genre'].mode()[0])
# Review the data and how many rows have missing information in each columns
clean_datan1.isna().sum()

title              0
year             527
certificate     3453
duration_min       0
genre              0
rating          1173
description        0
stars              0
votes           1173
dtype: int64

In [64]:
# Complete missing values of 'voters'
# Eliminate ' min' in all rows of duration
clean_datan1['votes'] = clean_datan1['votes'].str.replace(',', '')
# Review changes 
clean_datan1.head(10)

,title,year,certificate,duration_min,genre,rating,description,stars,votes
0,Cobra Kai,(2018– ),TV-14,30.0,"Action, Comedy, Drama",8.5,Decades after their 1984 All Valley Karate Tou...,"['Ralph Macchio, ', 'William Zabka, ', 'Courtn...",177031
1,The Crown,(2016– ),TV-MA,58.0,"Biography, Drama, History",8.7,Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...",199885
2,Better Call Saul,(2015–2022),TV-MA,46.0,"Crime, Drama",8.9,The trials and tribulations of criminal lawyer...,"['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...",501384
3,Devil in Ohio,(2022),TV-MA,356.0,"Drama, Horror, Mystery",5.9,When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...",9773
4,Cyberpunk: Edgerunners,(2022– ),TV-MA,24.0,"Animation, Action, Adventure",8.6,A Street Kid trying to survive in a technology...,"['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...",15413
5,The Sandman,(2022– ),TV-MA,45.0,"Drama, Fantasy, Horror",7.8,Upon escaping after decades of imprisonment by...,"['Tom Sturridge, ', 'Boyd Holbrook, ', 'Patton...",116358
6,Rick and Morty,(2013– ),TV-MA,23.0,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"['Justin Roiland, ', 'Chris Parnell, ', 'Spenc...",502160
7,Breaking Bad,(2008–2013),TV-MA,49.0,"Crime, Drama, Thriller",9.5,A high school chemistry teacher diagnosed with...,"['Bryan Cranston, ', 'Aaron Paul, ', 'Anna Gun...",1831340
8,The Imperfects,(2022– ),TV-MA,45.0,"Action, Adventure, Drama",6.3,After an experimental gene therapy turns them ...,"['Morgan Taylor Campbell, ', 'Italia Ricci, ',...",3123
9,Blonde,(2022),NC-17,166.0,"Biography, Drama, Mystery",6.2,A fictionalized chronicle of the inner life of...,"['Andrew Dominik', '| ', ' Stars:', 'Ana de...",935

In [66]:
# Fill NaN values with 0
clean_datan1['votes'] = clean_datan1['votes'].fillna(0)
# Review the data and how many rows have missing information in each columns
clean_datan1.isna().sum()

title              0
year             527
certificate     3453
duration_min       0
genre              0
rating          1173
description        0
stars              0
votes              0
dtype: int64

In [68]:
# Turn votes into float
clean_datan1['votes'] = clean_datan1['votes'].astype(float)

In [70]:
# Calculate the mean of the non-zero values
mean_votes = clean_datan1[clean_datan1['votes'] != 0]['votes'].mean()

# Replace 0 values with the mean duration
clean_datan1.loc[clean_datan1['votes'] == 0, 'votes'] = mean_votes

In [72]:
# Review the data and how many rows have missing information in each columns
clean_datan1.isna().sum()

title              0
year             527
certificate     3453
duration_min       0
genre              0
rating          1173
description        0
stars              0
votes              0
dtype: int64

In [74]:
# Remove the opening parenthesis '('
clean_datan1['year'] = clean_datan1['year'].str.replace(r'\(', '', regex=True)
# Review changes 
clean_datan1.head(10)

,title,year,certificate,duration_min,genre,rating,description,stars,votes
0,Cobra Kai,2018– ),TV-14,30.0,"Action, Comedy, Drama",8.5,Decades after their 1984 All Valley Karate Tou...,"['Ralph Macchio, ', 'William Zabka, ', 'Courtn...",177031.0
1,The Crown,2016– ),TV-MA,58.0,"Biography, Drama, History",8.7,Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...",199885.0
2,Better Call Saul,2015–2022),TV-MA,46.0,"Crime, Drama",8.9,The trials and tribulations of criminal lawyer...,"['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...",501384.0
3,Devil in Ohio,2022),TV-MA,356.0,"Drama, Horror, Mystery",5.9,When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...",9773.0
4,Cyberpunk: Edgerunners,2022– ),TV-MA,24.0,"Animation, Action, Adventure",8.6,A Street Kid trying to survive in a technology...,"['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...",15413.0
5,The Sandman,2022– ),TV-MA,45.0,"Drama, Fantasy, Horror",7.8,Upon escaping after decades of imprisonment by...,"['Tom Sturridge, ', 'Boyd Holbrook, ', 'Patton...",116358.0
6,Rick and Morty,2013– ),TV-MA,23.0,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"['Justin Roiland, ', 'Chris Parnell, ', 'Spenc...",502160.0
7,Breaking Bad,2008–2013),TV-MA,49.0,"Crime, Drama, Thriller",9.5,A high school chemistry teacher diagnosed with...,"['Bryan Cranston, ', 'Aaron Paul, ', 'Anna Gun...",1831340.0
8,The Imperfects,2022– ),TV-MA,45.0,"Action, Adventure, Drama",6.3,After an experimental gene therapy turns them ...,"['Morgan Taylor Campbell, ', 'Italia Ricci, ',...",3123.0
9,Blonde,2022),NC-17,166.0,"Biography, Drama, Mystery",6.2,A fictionalized chronicle of the inner life of...,"['Andrew Dominik', '| ', ' Stars:', 'Ana de...",935.0

In [76]:
# Remove everything from '–' onwards, including '–'
clean_datan1['year'] = clean_datan1['year'].str.replace(r'–.*', '', regex=True)
# Review changes 
clean_datan1.head(10)

,title,year,certificate,duration_min,genre,rating,description,stars,votes
0,Cobra Kai,2018,TV-14,30.0,"Action, Comedy, Drama",8.5,Decades after their 1984 All Valley Karate Tou...,"['Ralph Macchio, ', 'William Zabka, ', 'Courtn...",177031.0
1,The Crown,2016,TV-MA,58.0,"Biography, Drama, History",8.7,Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...",199885.0
2,Better Call Saul,2015,TV-MA,46.0,"Crime, Drama",8.9,The trials and tribulations of criminal lawyer...,"['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...",501384.0
3,Devil in Ohio,2022),TV-MA,356.0,"Drama, Horror, Mystery",5.9,When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...",9773.0
4,Cyberpunk: Edgerunners,2022,TV-MA,24.0,"Animation, Action, Adventure",8.6,A Street Kid trying to survive in a technology...,"['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...",15413.0
5,The Sandman,2022,TV-MA,45.0,"Drama, Fantasy, Horror",7.8,Upon escaping after decades of imprisonment by...,"['Tom Sturridge, ', 'Boyd Holbrook, ', 'Patton...",116358.0
6,Rick and Morty,2013,TV-MA,23.0,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"['Justin Roiland, ', 'Chris Parnell, ', 'Spenc...",502160.0
7,Breaking Bad,2008,TV-MA,49.0,"Crime, Drama, Thriller",9.5,A high school chemistry teacher diagnosed with...,"['Bryan Cranston, ', 'Aaron Paul, ', 'Anna Gun...",1831340.0
8,The Imperfects,2022,TV-MA,45.0,"Action, Adventure, Drama",6.3,After an experimental gene therapy turns them ...,"['Morgan Taylor Campbell, ', 'Italia Ricci, ',...",3123.0
9,Blonde,2022),NC-17,166.0,"Biography, Drama, Mystery",6.2,A fictionalized chronicle of the inner life of...,"['Andrew Dominik', '| ', ' Stars:', 'Ana de...",935.0

In [84]:
# Remove everything from '–' onwards, including '–'
clean_datan1['year'] = clean_datan1['year'].str.replace(r'\)', '', regex=True)
# Review changes 
clean_datan1.head(10)

,title,year,certificate,duration_min,genre,rating,description,stars,votes
0,Cobra Kai,2018,TV-14,30.0,"Action, Comedy, Drama",8.5,Decades after their 1984 All Valley Karate Tou...,"['Ralph Macchio, ', 'William Zabka, ', 'Courtn...",177031.0
1,The Crown,2016,TV-MA,58.0,"Biography, Drama, History",8.7,Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...",199885.0
2,Better Call Saul,2015,TV-MA,46.0,"Crime, Drama",8.9,The trials and tribulations of criminal lawyer...,"['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...",501384.0
3,Devil in Ohio,2022,TV-MA,356.0,"Drama, Horror, Mystery",5.9,When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...",9773.0
4,Cyberpunk: Edgerunners,2022,TV-MA,24.0,"Animation, Action, Adventure",8.6,A Street Kid trying to survive in a technology...,"['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...",15413.0
5,The Sandman,2022,TV-MA,45.0,"Drama, Fantasy, Horror",7.8,Upon escaping after decades of imprisonment by...,"['Tom Sturridge, ', 'Boyd Holbrook, ', 'Patton...",116358.0
6,Rick and Morty,2013,TV-MA,23.0,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"['Justin Roiland, ', 'Chris Parnell, ', 'Spenc...",502160.0
7,Breaking Bad,2008,TV-MA,49.0,"Crime, Drama, Thriller",9.5,A high school chemistry teacher diagnosed with...,"['Bryan Cranston, ', 'Aaron Paul, ', 'Anna Gun...",1831340.0
8,The Imperfects,2022,TV-MA,45.0,"Action, Adventure, Drama",6.3,After an experimental gene therapy turns them ...,"['Morgan Taylor Campbell, ', 'Italia Ricci, ',...",3123.0
9,Blonde,2022,NC-17,166.0,"Biography, Drama, Mystery",6.2,A fictionalized chronicle of the inner life of...,"['Andrew Dominik', '| ', ' Stars:', 'Ana de...",935.0

In [90]:
# Remove any non-numeric characters
clean_datan1['year'] = clean_datan1['year'].str.extract(r'(\d{4})')[0]

In [92]:
# Fill NaN values with 0
clean_datan1['year'] = clean_datan1['year'].fillna(0)
# Review the data and how many rows have missing information in each columns
clean_datan1.isna().sum()

title              0
year               0
certificate     3453
duration_min       0
genre              0
rating          1173
description        0
stars              0
votes              0
dtype: int64

In [96]:
# Convert the 'year' column to integers
clean_datan1['year'] = clean_datan1['year'].astype(int)

In [98]:
# Calculate the mean of the non-zero values
mean_votes = clean_datan1[clean_datan1['votes'] != 0]['votes'].mean()

# Replace 0 values with the mean duration
clean_datan1.loc[clean_datan1['votes'] == 0, 'votes'] = mean_votes

In [100]:
# Review general information
clean_datan1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9957 entries, 0 to 9956
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         9957 non-null   object
 1   year          9957 non-null   int64
 2   certificate   6504 non-null   object
 3   duration_min  9957 non-null   float64
 4   genre         9957 non-null   object
 5   rating        8784 non-null   float64
 6   description   9957 non-null   object
 7   stars         9957 non-null   object
 8   votes         9957 non-null   float64
dtypes: float64(3), int64(1), object(5)
memory usage: 700.2+ KB

In [102]:
# Review the data and how many rows have missing information in each columns
clean_datan1.isna().sum()

title              0
year               0
certificate     3453
duration_min       0
genre              0
rating          1173
description        0
stars              0
votes              0
dtype: int64

In [104]:
# Fill certificate with the mode, as it is an object
clean_datan1['certificate'] = clean_datan1['certificate'].fillna(clean_datan1['certificate'].mode()[0])
# Review the data and how many rows have missing information in each columns
clean_datan1.isna().sum()

title              0
year               0
certificate        0
duration_min       0
genre              0
rating          1173
description        0
stars              0
votes              0
dtype: int64

In [108]:
# Fill the certificate with the mean, as it is an integer
clean_datan1['rating'] = clean_datan1['rating'].fillna(clean_datan1['rating'].mean())
# Review the data and how many rows have missing information in each columns
clean_datan1.isna().sum()

title           0
year            0
certificate     0
duration_min    0
genre           0
rating          0
description     0
stars           0
votes           0
dtype: int64

In [110]:
# Save the cleaned dataset 1 ('clean_datan1')
clean_datan1.to_csv('clean_datan1.csv', index=False)

## Review the dataset 2 ('data_n2') 
We need to review the second dataset for the project, which will be initially called data_n2

In [16]:
# Read database 2 
data_n2 = pd.read_csv("https://raw.githubusercontent.com/r41ss4/rennes_ba/refs/heads/main/data/raw/data_n2.csv")

In [18]:
# Read the file with ISO-8859-1 encoding
data_n2 = pd.read_csv("https://raw.githubusercontent.com/r41ss4/rennes_ba/refs/heads/main/data/raw/data_n2.csv", encoding='ISO-8859-1')

In [119]:
# General data_n2 view
data_n2.head(10)

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
5,Supernatural,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80
6,Breaking Bad,TV-MA,For mature audiences. May not be suitable for...,110,2013,97.0,80
7,The Vampire Diaries,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2017,91.0,80
8,The Walking Dead,TV-MA,For mature audiences. May not be suitable for...,110,2015,98.0,80
9,Pretty Little Liars,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,96.0,80

In [60]:
# Review data_n2 information 
data_n2.shape

(1000, 7)

In [62]:
# Review data_n2 general information
data_n2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              1000 non-null   object
 1   rating             1000 non-null   object
 2   ratingLevel        941 non-null    object
 3   ratingDescription  1000 non-null   int64
 4   release year       1000 non-null   int64
 5   user rating score  605 non-null    float64
 6   user rating size   1000 non-null   int64
dtypes: float64(1), int64(3), object(3)
memory usage: 54.8+ KB

In [64]:
# Review data_n2 columns 
data_n2.columns

Index(['title', 'rating', 'ratingLevel', 'ratingDescription', 'release year',
       'user rating score', 'user rating size'],
      dtype='object')

In [66]:
# Review the data and how many rows have missing information in each columns
data_n2.isna().sum()

title                  0
rating                 0
ratingLevel           59
ratingDescription      0
release year           0
user rating score    395
user rating size       0
dtype: int64

In [121]:
# Make a copy of clean_datan2 to clean
clean_datan2 = data_n2

In [123]:
# Review the data and how many rows have missing information in each columns
clean_datan2.isna().sum()

title                  0
rating                 0
ratingLevel           59
ratingDescription      0
release year           0
user rating score    395
user rating size       0
dtype: int64

In [125]:
# Check duplicated data
datan2_dup = clean_datan2[clean_datan2.duplicated()]
datan2_dup

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
50,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
52,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
53,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
56,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
57,Supernatural,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80
...,...,...,...,...,...,...,...
991,Dawn of the Croods,TV-Y7,Suitable for children ages 7 and older,41,2017,72.0,80
992,Alpha and Omega: Dino Digs,TV-G,Suitable for all ages.,35,2016,NaN,82
995,The BFG,PG,"for action/peril, some scary moments and brief...",60,2016,97.0,80
996,The Secret Life of Pets,PG,for action and some rude humor,60,2016,NaN,81
999,Growing Up Wild,G,NaN,35,2016,80.0,80

In [127]:
# Delete duplicate rows, keeping the first occurrence
clean_datan2 = clean_datan2.drop_duplicates()
clean_datan2

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
...,...,...,...,...,...,...,...
989,Russell Madness,PG,some rude humor and sports action,60,2015,NaN,82
993,Wiener Dog Internationals,G,General Audiences. Suitable for all ages.,35,2015,NaN,82
994,Pup Star,G,General Audiences. Suitable for all ages.,35,2016,NaN,82
997,Precious Puppies,TV-G,Suitable for all ages.,35,2003,NaN,82
998,Beary Tales,TV-G,Suitable for all ages.,35,2013,NaN,82

In [129]:
# Fill 'ratingLevel' with the mode
clean_datan2['ratingLevel'] = clean_datan2['ratingLevel'].fillna(clean_datan2['ratingLevel'].mode()[0])
# Review the data and how many rows have missing information in each columns
clean_datan2.isna().sum()

/var/folders/q5/bwsxp4bx3jvb0n9scz0gsk500000gn/T/ipykernel_58802/189017541.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_datan2['ratingLevel'] = clean_datan2['ratingLevel'].fillna(clean_datan2['ratingLevel'].mode()[0])

title                  0
rating                 0
ratingLevel            0
ratingDescription      0
release year           0
user rating score    244
user rating size       0
dtype: int64

In [131]:
# Fill 'user rating score' with the mode
clean_datan2['user rating score'] = clean_datan2['user rating score'].fillna(clean_datan2['user rating score'].mean())
# Review the data and how many rows have missing information in each columns
clean_datan2.isna().sum()

/var/folders/q5/bwsxp4bx3jvb0n9scz0gsk500000gn/T/ipykernel_58802/3716855954.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_datan2['user rating score'] = clean_datan2['user rating score'].fillna(clean_datan2['user rating score'].mean())

title                0
rating               0
ratingLevel          0
ratingDescription    0
release year         0
user rating score    0
user rating size     0
dtype: int64

In [133]:
# Save the cleaned dataset 2 ('clean_datan2')
clean_datan2.to_csv('clean_datan2.csv', index=False)

## Review the dataset 3 ('data_n3') 
We need to review the third dataset for the project, which will be initially called data_n3

In [20]:
# Read database 3 
data_n3 = pd.read_csv("https://raw.githubusercontent.com/r41ss4/rennes_ba/refs/heads/main/data/raw/data_n3.csv")

In [86]:
# General data_n3 view
data_n3.head(10)

,title,genre,language,imdb_score,premiere,runtime,year
0,Notes for My Son,Drama,Spanish,6.3,11/24/2020,83,2020
1,"To Each, Her Own",Romantic comedy,French,5.3,6/24/2018,95,2018
2,The Lovebirds,Romantic comedy,English,6.1,5/22/2020,87,2020
3,The Perfection,Horror-thriller,English,6.1,5/24/2019,90,2019
4,Happy Anniversary,Romantic comedy,English,5.8,3/30/2018,78,2018
5,Why Did You Kill Me?,Documentary,English,5.6,4/14/2021,83,2021
6,Death to 2020,Comedy,English,6.8,12/27/2020,70,2020
7,Brene Brown: The Call to Courage,Documentary,English,7.7,4/19/2019,76,2019
8,Operation Christmas Drop,Romantic comedy,English,5.8,11/5/2020,96,2020
9,The Lonely Island Presents: The Unauthorized B...,Comedy / Musical,English,6.9,5/23/2019,30,2019

In [88]:
# Review data_n3 information 
data_n3.shape

(583, 7)

In [47]:
# Review data_n3 general information
data_n3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       583 non-null    object
 1   genre       583 non-null    object
 2   language    583 non-null    object
 3   imdb_score  583 non-null    float64
 4   premiere    583 non-null    object
 5   runtime     583 non-null    int64
 6   year        583 non-null    int64
dtypes: float64(1), int64(2), object(4)
memory usage: 32.0+ KB

In [49]:
# Review data_n3 columns 
data_n3.columns

Index(['title', 'genre', 'language', 'imdb_score', 'premiere', 'runtime',
       'year'],
      dtype='object')

In [51]:
# Review the data and how many rows have missing information in each columns
data_n3.isna().sum()

title         0
genre         0
language      0
imdb_score    0
premiere      0
runtime       0
year          0
dtype: int64

In [90]:
# Check duplicated data
datan3_dup = data_n3[data_n3.duplicated()]
datan3_dup

Empty DataFrame
Columns: [title, genre, language, imdb_score, premiere, runtime, year]
Index: []

In [92]:
# Delete duplicate rows, keeping the first occurrence
data_n3 = data_n3.drop_duplicates()
data_n3

,title,genre,language,imdb_score,premiere,runtime,year
0,Notes for My Son,Drama,Spanish,6.3,11/24/2020,83,2020
1,"To Each, Her Own",Romantic comedy,French,5.3,6/24/2018,95,2018
2,The Lovebirds,Romantic comedy,English,6.1,5/22/2020,87,2020
3,The Perfection,Horror-thriller,English,6.1,5/24/2019,90,2019
4,Happy Anniversary,Romantic comedy,English,5.8,3/30/2018,78,2018
...,...,...,...,...,...,...,...
578,Rolling Thunder Revue: A bob Dylan Story by Ma...,Documentary,English,7.6,6/12/2019,144,2019
579,Freaks: You're One of Us,Supernatural drama,German,5.4,9/2/2020,92,2020
580,Squared Love,Romantic comedy,Polish,5.0,2/11/2021,102,2021
581,My Own Man,Documentary,English,6.4,12/13/2014,81,2014
582,Biggie: I Got a Story to Tell,Documentary,English,6.9,3/1/2021,97,2021

### Make the dataset 3 ('data_f3') dirtier
As the data_f3 is pretty clean as it is and the analysis is done as the final project of an academic subject, we will introduce errors in data_f3 to clean it afterward.

In [94]:
# Make a copy called dirty_datan3
dirty_datan3 = data_n3

In [96]:
# Add redundant columns 'titel2' with changed type 
dirty_datan3['title2'] = dirty_datan3['title'].astype(str)

In [98]:
# Change 'year' column to strings
dirty_datan3['year'] = dirty_datan3['year'].astype(str)

In [100]:
# Introduce duplicates to dirty_datan3
dirty_datan3 = pd.concat([dirty_datan3, dirty_datan3.sample(frac=0.1)])

In [102]:
# Count the number of duplicate rows
dirty_datan3.duplicated().sum()

58

In [104]:
# Missnamed two columns
dirty_datan3 = dirty_datan3.rename(columns={'title': 'tite', 'language': 'lenguge'})

In [106]:
# Review changes in dirty_datan3
dirty_datan3.head(5)

,tite,genre,lenguge,imdb_score,premiere,runtime,year,title2
0,Notes for My Son,Drama,Spanish,6.3,11/24/2020,83,2020,Notes for My Son
1,"To Each, Her Own",Romantic comedy,French,5.3,6/24/2018,95,2018,"To Each, Her Own"
2,The Lovebirds,Romantic comedy,English,6.1,5/22/2020,87,2020,The Lovebirds
3,The Perfection,Horror-thriller,English,6.1,5/24/2019,90,2019,The Perfection
4,Happy Anniversary,Romantic comedy,English,5.8,3/30/2018,78,2018,Happy Anniversary

### Cleaning dirty dataset 3 ('dirty_dataf3')
The following section is about how to clean dirty_dataf3 after introducing multiple problems in the dataset

In [109]:
# Make a copy of dirty_datan3 to clean
clean_datan3 = dirty_datan3

In [111]:
# Remove redundant column Duration
clean_datan3 = clean_datan3.drop(columns=['title2'])

In [113]:
# Change 'year' column to integer
clean_datan3['year'] = clean_datan3['year'].astype('datetime64[ns]')

In [115]:
# Drop duplicates from clean_datan3
clean_datan3.drop_duplicates()

,tite,genre,lenguge,imdb_score,premiere,runtime,year
0,Notes for My Son,Drama,Spanish,6.3,11/24/2020,83,2020-01-01
1,"To Each, Her Own",Romantic comedy,French,5.3,6/24/2018,95,2018-01-01
2,The Lovebirds,Romantic comedy,English,6.1,5/22/2020,87,2020-01-01
3,The Perfection,Horror-thriller,English,6.1,5/24/2019,90,2019-01-01
4,Happy Anniversary,Romantic comedy,English,5.8,3/30/2018,78,2018-01-01
...,...,...,...,...,...,...,...
578,Rolling Thunder Revue: A bob Dylan Story by Ma...,Documentary,English,7.6,6/12/2019,144,2019-01-01
579,Freaks: You're One of Us,Supernatural drama,German,5.4,9/2/2020,92,2020-01-01
580,Squared Love,Romantic comedy,Polish,5.0,2/11/2021,102,2021-01-01
581,My Own Man,Documentary,English,6.4,12/13/2014,81,2014-01-01
582,Biggie: I Got a Story to Tell,Documentary,English,6.9,3/1/2021,97,2021-01-01

In [117]:
# Count the number of duplicate rows
clean_datan3.duplicated().sum()

58

In [119]:
# Missnamed two columns
clean_datan3 = clean_datan3.rename(columns={'tite': 'title', 'lenguge': 'language'})

In [121]:
# Review changes in clean_datan3
clean_datan3.head(5)

,title,genre,language,imdb_score,premiere,runtime,year
0,Notes for My Son,Drama,Spanish,6.3,11/24/2020,83,2020-01-01
1,"To Each, Her Own",Romantic comedy,French,5.3,6/24/2018,95,2018-01-01
2,The Lovebirds,Romantic comedy,English,6.1,5/22/2020,87,2020-01-01
3,The Perfection,Horror-thriller,English,6.1,5/24/2019,90,2019-01-01
4,Happy Anniversary,Romantic comedy,English,5.8,3/30/2018,78,2018-01-01

In [123]:
# Review the data and how many rows have missing information in each columns
clean_datan3.isna().sum()

title         0
genre         0
language      0
imdb_score    0
premiere      0
runtime       0
year          0
dtype: int64

In [125]:
# Save the cleaned dataset 3 ('clean_datan3')
clean_datan3.to_csv('clean_datan3.csv', index=False)

## Review the dataset 4 ('data_n4') 
We need to review the third dataset for the project, which will be initially called data_n4

In [22]:
data_n4= pd.read_csv("https://raw.githubusercontent.com/r41ss4/rennes_ba/refs/heads/main/data/raw/data_n4.csv")

In [8]:
data_n4.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.601,NaN
1,tm82169,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119,"['drama', 'sport']",['US'],NaN,tt0075148,8.1,588100.0,106.361,7.782
2,tm17823,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110,"['romance', 'comedy']",['US'],NaN,tt0077631,7.2,283316.0,33.160,7.406
3,tm191099,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129,"['crime', 'drama', 'comedy', 'music']",['US'],NaN,tt0070735,8.3,266738.0,24.616,8.020
4,tm69975,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119,"['drama', 'sport']",['US'],NaN,tt0079817,7.3,216307.0,75.699,7.246

In [10]:
data_n4.shape

(6137, 15)

In [12]:
data_n4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6137 entries, 0 to 6136
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    6137 non-null   object
 1   title                 6137 non-null   object
 2   type                  6137 non-null   object
 3   description           6114 non-null   object
 4   release_year          6137 non-null   int64
 5   age_certification     3394 non-null   object
 6   runtime               6137 non-null   int64
 7   genres                6137 non-null   object
 8   production_countries  6137 non-null   object
 9   seasons               2306 non-null   float64
 10  imdb_id               5741 non-null   object
 11  imdb_score            5669 non-null   float64
 12  imdb_votes            5653 non-null   float64
 13  tmdb_popularity       6061 non-null   float64
 14  tmdb_score            5885 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 719.3+ KB

In [14]:
data_n4.columns

Index(['id', 'title', 'type', 'description', 'release_year',
       'age_certification', 'runtime', 'genres', 'production_countries',
       'seasons', 'imdb_id', 'imdb_score', 'imdb_votes', 'tmdb_popularity',
       'tmdb_score'],
      dtype='object')

## Cleaning the dataset 4 ('data_n4')
The dataset data_n4 requires cleaning for further analysis, the clean copy will be initially called clean_datan4

In [17]:
# Make a copy of clean_datan4 to clean
clean_datan4 = data_n4

In [19]:
clean_datan4.drop_duplicates()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.601,NaN
1,tm82169,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119,"['drama', 'sport']",['US'],NaN,tt0075148,8.1,588100.0,106.361,7.782
2,tm17823,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110,"['romance', 'comedy']",['US'],NaN,tt0077631,7.2,283316.0,33.160,7.406
3,tm191099,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129,"['crime', 'drama', 'comedy', 'music']",['US'],NaN,tt0070735,8.3,266738.0,24.616,8.020
4,tm69975,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119,"['drama', 'sport']",['US'],NaN,tt0079817,7.3,216307.0,75.699,7.246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132,tm1303784,عبود في البيت,MOVIE,Two young boys must work together to stop robb...,2023,NaN,81,"['family', 'comedy']",['KW'],NaN,NaN,NaN,NaN,3.351,2.000
6133,tm1260999,Sweetie,MOVIE,"‘Theatre is my life,’ Yıldız Kenter admits in ...",2023,NaN,120,['documentation'],['TR'],NaN,tt26349328,7.9,209.0,2.450,7.200
6134,tm1310286,Sommore: Queen Chandelier,MOVIE,This Queen of Comedy shines as she takes the s...,2023,NaN,69,['comedy'],['US'],NaN,tt21033382,6.1,91.0,1.960,NaN
6135,tm1072700,All Na Vibes,MOVIE,The lives of three teenagers and a hit-man int...,2023,NaN,80,['drama'],['NG'],NaN,tt14922926,5.2,18.0,1.357,4.000
6136,tm561709,Going to Heaven,MOVIE,"A story about young boy sultan, 11 years old l...",2023,NaN,90,['family'],['AE'],NaN,tt4623222,7.0,40.0,NaN,NaN

In [23]:
clean_datan4.isna().sum()

id                         0
title                      0
type                       0
description               23
release_year               0
age_certification       2743
runtime                    0
genres                     0
production_countries       0
seasons                 3831
imdb_id                  396
imdb_score               468
imdb_votes               484
tmdb_popularity           76
tmdb_score               252
dtype: int64

In [25]:
# For 'description' we'll change it to 'No description available' to avoid future mistakes
clean_datan4['description'] = clean_datan4['description'].fillna('No description available')

In [27]:
clean_datan4.isna().sum()

id                         0
title                      0
type                       0
description                0
release_year               0
age_certification       2743
runtime                    0
genres                     0
production_countries       0
seasons                 3831
imdb_id                  396
imdb_score               468
imdb_votes               484
tmdb_popularity           76
tmdb_score               252
dtype: int64

In [29]:
#For numeric columns, the median will be used so that it doesn't change the important measures 
num_cols = ['imdb_score', 'imdb_votes', 'tmdb_popularity', 'tmdb_score']
for col in num_cols:
    clean_datan4[col] = clean_datan4[col].fillna(clean_datan4[col].median())

In [31]:
clean_datan4.isna().sum()

id                         0
title                      0
type                       0
description                0
release_year               0
age_certification       2743
runtime                    0
genres                     0
production_countries       0
seasons                 3831
imdb_id                  396
imdb_score                 0
imdb_votes                 0
tmdb_popularity            0
tmdb_score                 0
dtype: int64

In [33]:
# 'Seasons' will be cleaned by assuming a 0 for movies or no more seasons
clean_datan4['seasons'] = clean_datan4['seasons'].fillna(0).astype(int)

In [35]:
clean_datan4.isna().sum()

id                         0
title                      0
type                       0
description                0
release_year               0
age_certification       2743
runtime                    0
genres                     0
production_countries       0
seasons                    0
imdb_id                  396
imdb_score                 0
imdb_votes                 0
tmdb_popularity            0
tmdb_score                 0
dtype: int64

In [37]:
# For cleaning 'age_certification' the blank rows will be filled with 'Unknown'
clean_datan4['age_certification'] = clean_datan4['age_certification'].fillna('Unknown')

In [39]:
clean_datan4.isna().sum()

id                        0
title                     0
type                      0
description               0
release_year              0
age_certification         0
runtime                   0
genres                    0
production_countries      0
seasons                   0
imdb_id                 396
imdb_score                0
imdb_votes                0
tmdb_popularity           0
tmdb_score                0
dtype: int64

In [43]:
# It is important to convert the lists saved as strings as real lists to facilitate further analysis
columns = ['genres', 'production_countries']
for col in columns:
    clean_datan4[col] = clean_datan4[col].apply(lambda x: eval(x) if isinstance(x, str) else x)

In [45]:
clean_datan4.isna().sum()

id                        0
title                     0
type                      0
description               0
release_year              0
age_certification         0
runtime                   0
genres                    0
production_countries      0
seasons                   0
imdb_id                 396
imdb_score                0
imdb_votes                0
tmdb_popularity           0
tmdb_score                0
dtype: int64

## Normalizing clean_datan4

In [47]:
# In order to normalize the data, we'll limite the release year to reasonable years (from 1900-2024)
clean_datan4 = clean_datan4[(clean_datan4['release_year'] >= 1900) & (clean_datan4['release_year'] <= 2024)]

In [49]:
clean_datan4

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,[documentation],[US],1,NaN,6.6,2095.0,0.601,6.791
1,tm82169,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119,"[drama, sport]",[US],0,tt0075148,8.1,588100.0,106.361,7.782
2,tm17823,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110,"[romance, comedy]",[US],0,tt0077631,7.2,283316.0,33.160,7.406
3,tm191099,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129,"[crime, drama, comedy, music]",[US],0,tt0070735,8.3,266738.0,24.616,8.020
4,tm69975,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119,"[drama, sport]",[US],0,tt0079817,7.3,216307.0,75.699,7.246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132,tm1303784,عبود في البيت,MOVIE,Two young boys must work together to stop robb...,2023,Unknown,81,"[family, comedy]",[KW],0,NaN,6.6,2095.0,3.351,2.000
6133,tm1260999,Sweetie,MOVIE,"‘Theatre is my life,’ Yıldız Kenter admits in ...",2023,Unknown,120,[documentation],[TR],0,tt26349328,7.9,209.0,2.450,7.200
6134,tm1310286,Sommore: Queen Chandelier,MOVIE,This Queen of Comedy shines as she takes the s...,2023,Unknown,69,[comedy],[US],0,tt21033382,6.1,91.0,1.960,6.791
6135,tm1072700,All Na Vibes,MOVIE,The lives of three teenagers and a hit-man int...,2023,Unknown,80,[drama],[NG],0,tt14922926,5.2,18.0,1.357,4.000
6136,tm561709,Going to Heaven,MOVIE,"A story about young boy sultan, 11 years old l...",2023,Unknown,90,[family],[AE],0,tt4623222,7.0,40.0,7.580,6.791

In [51]:
# We're also limiting the values that are out of the range in 'runtime'
clean_datan4['runtime'] = clean_datan4['runtime'].apply(lambda x: x if x > 0 and x < 500 else None)
clean_datan4['runtime'] = clean_datan4['runtime'].fillna(clean_datan4['runtime'].median())

In [53]:
clean_datan4

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51.0,[documentation],[US],1,NaN,6.6,2095.0,0.601,6.791
1,tm82169,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119.0,"[drama, sport]",[US],0,tt0075148,8.1,588100.0,106.361,7.782
2,tm17823,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110.0,"[romance, comedy]",[US],0,tt0077631,7.2,283316.0,33.160,7.406
3,tm191099,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129.0,"[crime, drama, comedy, music]",[US],0,tt0070735,8.3,266738.0,24.616,8.020
4,tm69975,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119.0,"[drama, sport]",[US],0,tt0079817,7.3,216307.0,75.699,7.246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132,tm1303784,عبود في البيت,MOVIE,Two young boys must work together to stop robb...,2023,Unknown,81.0,"[family, comedy]",[KW],0,NaN,6.6,2095.0,3.351,2.000
6133,tm1260999,Sweetie,MOVIE,"‘Theatre is my life,’ Yıldız Kenter admits in ...",2023,Unknown,120.0,[documentation],[TR],0,tt26349328,7.9,209.0,2.450,7.200
6134,tm1310286,Sommore: Queen Chandelier,MOVIE,This Queen of Comedy shines as she takes the s...,2023,Unknown,69.0,[comedy],[US],0,tt21033382,6.1,91.0,1.960,6.791
6135,tm1072700,All Na Vibes,MOVIE,The lives of three teenagers and a hit-man int...,2023,Unknown,80.0,[drama],[NG],0,tt14922926,5.2,18.0,1.357,4.000
6136,tm561709,Going to Heaven,MOVIE,"A story about young boy sultan, 11 years old l...",2023,Unknown,90.0,[family],[AE],0,tt4623222,7.0,40.0,7.580,6.791

In [55]:
#And just to be sure, we're limiting the values out of range in scores
clean_datan4['imdb_score'] = clean_datan4['imdb_score'].apply(lambda x: x if 0 <= x <= 10 else None)
clean_datan4['tmdb_score'] = clean_datan4['tmdb_score'].apply(lambda x: x if 0 <= x <= 10 else None)

In [57]:
clean_datan4

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51.0,[documentation],[US],1,NaN,6.6,2095.0,0.601,6.791
1,tm82169,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119.0,"[drama, sport]",[US],0,tt0075148,8.1,588100.0,106.361,7.782
2,tm17823,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110.0,"[romance, comedy]",[US],0,tt0077631,7.2,283316.0,33.160,7.406
3,tm191099,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129.0,"[crime, drama, comedy, music]",[US],0,tt0070735,8.3,266738.0,24.616,8.020
4,tm69975,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119.0,"[drama, sport]",[US],0,tt0079817,7.3,216307.0,75.699,7.246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132,tm1303784,عبود في البيت,MOVIE,Two young boys must work together to stop robb...,2023,Unknown,81.0,"[family, comedy]",[KW],0,NaN,6.6,2095.0,3.351,2.000
6133,tm1260999,Sweetie,MOVIE,"‘Theatre is my life,’ Yıldız Kenter admits in ...",2023,Unknown,120.0,[documentation],[TR],0,tt26349328,7.9,209.0,2.450,7.200
6134,tm1310286,Sommore: Queen Chandelier,MOVIE,This Queen of Comedy shines as she takes the s...,2023,Unknown,69.0,[comedy],[US],0,tt21033382,6.1,91.0,1.960,6.791
6135,tm1072700,All Na Vibes,MOVIE,The lives of three teenagers and a hit-man int...,2023,Unknown,80.0,[drama],[NG],0,tt14922926,5.2,18.0,1.357,4.000
6136,tm561709,Going to Heaven,MOVIE,"A story about young boy sultan, 11 years old l...",2023,Unknown,90.0,[family],[AE],0,tt4623222,7.0,40.0,7.580,6.791

In [59]:
 # It is important to also standarize the strip & lowercase formats
clean_datan4['title'] = clean_datan4['title'].str.strip()
clean_datan4['type'] = clean_datan4['type'].str.strip().str.upper()
clean_datan4['age_certification'] = clean_datan4['age_certification'].str.strip()

## Add columns that could be useful

In [64]:
#In this case a new column will be created to calculate the age of the movie based on the released year and the actual year. 
#This could be useful for a next analysis
from datetime import datetime
current_year = datetime.now().year
clean_datan4['title_age'] = current_year - clean_datan4['release_year']

In [66]:
clean_datan4

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,title_age
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51.0,[documentation],[US],1,NaN,6.6,2095.0,0.601,6.791,79
1,tm82169,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119.0,"[drama, sport]",[US],0,tt0075148,8.1,588100.0,106.361,7.782,48
2,tm17823,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110.0,"[romance, comedy]",[US],0,tt0077631,7.2,283316.0,33.160,7.406,46
3,tm191099,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129.0,"[crime, drama, comedy, music]",[US],0,tt0070735,8.3,266738.0,24.616,8.020,51
4,tm69975,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119.0,"[drama, sport]",[US],0,tt0079817,7.3,216307.0,75.699,7.246,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132,tm1303784,عبود في البيت,MOVIE,Two young boys must work together to stop robb...,2023,Unknown,81.0,"[family, comedy]",[KW],0,NaN,6.6,2095.0,3.351,2.000,1
6133,tm1260999,Sweetie,MOVIE,"‘Theatre is my life,’ Yıldız Kenter admits in ...",2023,Unknown,120.0,[documentation],[TR],0,tt26349328,7.9,209.0,2.450,7.200,1
6134,tm1310286,Sommore: Queen Chandelier,MOVIE,This Queen of Comedy shines as she takes the s...,2023,Unknown,69.0,[comedy],[US],0,tt21033382,6.1,91.0,1.960,6.791,1
6135,tm1072700,All Na Vibes,MOVIE,The lives of three teenagers and a hit-man int...,2023,Unknown,80.0,[drama],[NG],0,tt14922926,5.2,18.0,1.357,4.000,1
6136,tm561709,Going to Heaven,MOVIE,"A story about young boy sultan, 11 years old l...",2023,Unknown,90.0,[family],[AE],0,tt4623222,7.0,40.0,7.580,6.791,1

In [68]:
# Save the cleaned dataset 4 ('clean_datan4')
clean_datan4.to_csv('clean_datan4.csv', index=False)