## Cleaning and Merging the datasets

In [3]:
# Import necessary libraries
import pandas as pd

In [8]:
# Load the datasets using raw string notation to avoid escape character issues
data1 = pd.read_csv(r'C:\Users\saman\Downloads\FP_BA_Netflix\clean_datan1.csv')
data2 = pd.read_csv(r'C:\Users\saman\Downloads\FP_BA_Netflix\clean_datan2.csv')
data3 = pd.read_csv(r'C:\Users\saman\Downloads\FP_BA_Netflix\clean_datan3.csv')

In [10]:
# Display the first few rows of each dataset to understand their structure
print("Data 1:")
print(data1.head())

print("\nData 2:")
print(data2.head())

print("\nData 3:")
print(data3.head())

Data 1:
                    title  year certificate  duration_min  \
0               Cobra Kai  2018       TV-14          30.0
1               The Crown  2016       TV-MA          58.0
2        Better Call Saul  2015       TV-MA          46.0
3           Devil in Ohio  2022       TV-MA         356.0
4  Cyberpunk: Edgerunners  2022       TV-MA          24.0

                          genre  rating  \
0         Action, Comedy, Drama     8.5
1     Biography, Drama, History     8.7
2                  Crime, Drama     8.9
3        Drama, Horror, Mystery     5.9
4  Animation, Action, Adventure     8.6

                                         description  \
0  Decades after their 1984 All Valley Karate Tou...
1  Follows the political rivalries and romance of...
2  The trials and tribulations of criminal lawyer...
3  When a psychiatrist shelters a mysterious cult...
4  A Street Kid trying to survive in a technology...

                                               stars     votes
0  ['Ralph Macchio, ', 'William Zabka, ', 'Courtn...  177031.0
1  ['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...  199885.0
2  ['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...  501384.0
3  ['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...    9773.0
4  ['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...   15413.0

Data 2:
                   title rating  \
0           White Chicks  PG-13
1    Lucky Number Slevin      R
2         Grey's Anatomy  TV-14
3           Prison Break  TV-14
4  How I Met Your Mother  TV-PG

                                         ratingLevel  ratingDescription  \
0  crude and sexual humor, language and some drug...                 80
1  strong violence, sexual content and adult lang...                100
2  Parents strongly cautioned. May be unsuitable ...                 90
3  Parents strongly cautioned. May be unsuitable ...                 90
4  Parental guidance suggested. May not be suitab...                 70

   release year  user rating score  user rating size
0          2004          82.000000                80
1          2006          81.398438                82
2          2016          98.000000                80
3          2008          98.000000                80
4          2014          94.000000                80

Data 3:
               title            genre language  imdb_score    premiere  \
0   Notes for My Son            Drama  Spanish         6.3  11/24/2020
1   To Each, Her Own  Romantic comedy   French         5.3   6/24/2018
2      The Lovebirds  Romantic comedy  English         6.1   5/22/2020
3     The Perfection  Horror-thriller  English         6.1   5/24/2019
4  Happy Anniversary  Romantic comedy  English         5.8   3/30/2018

   runtime        year
0       83  2020-01-01
1       95  2018-01-01
2       87  2020-01-01
3       90  2019-01-01
4       78  2018-01-01

In [12]:
# Convert the 'year' column to a datetime object if it's not already for data3
data3['year'] = pd.to_datetime(data3['year'], errors='coerce')  # Coerce invalid formats to NaT

In [14]:
# Extract only the year part
data3['year'] = data3['year'].dt.year.astype(str)

In [16]:
# Save the cleaned data3 for verification if needed
data3.to_csv(r'C:\Users\saman\Downloads\FP_BA_Netflix\clean_datan3.csv', index=False)

In [18]:
# Preview the cleaned year column
print(data3[['title', 'year']].head())

               title  year
0   Notes for My Son  2020
1   To Each, Her Own  2018
2      The Lovebirds  2020
3     The Perfection  2019
4  Happy Anniversary  2018

In [20]:
# Transform the 'rating score' column for data2
data2['rating'] = (data2['user rating score'] / 10).round(1)

In [22]:
# Drop the old 'user rating score' column if no longer needed
data2 = data2.drop(columns=['user rating score'])

In [24]:
# Save the updated dataset for verification if needed
data2.to_csv(r'C:\Users\saman\Downloads\FP_BA_Netflix\clean_datan2.csv', index=False)

In [26]:
# Preview the new rate column
print(data2[['title', 'rating']].head())

                   title  rating
0           White Chicks     8.2
1    Lucky Number Slevin     8.1
2         Grey's Anatomy     9.8
3           Prison Break     9.8
4  How I Met Your Mother     9.4

In [28]:
# Rename the column 'imdb_score' to 'rating' from data 3
data3.rename(columns={'imdb_score': 'rating'}, inplace=True)

In [30]:
# Save the updated dataset for verification if needed
data3.to_csv(r'C:\Users\saman\Downloads\FP_BA_Netflix\clean_datan3.csv', index=False)

In [32]:
# Preview the new rate column
print(data3.head())

               title            genre language  rating    premiere  runtime  \
0   Notes for My Son            Drama  Spanish     6.3  11/24/2020       83
1   To Each, Her Own  Romantic comedy   French     5.3   6/24/2018       95
2      The Lovebirds  Romantic comedy  English     6.1   5/22/2020       87
3     The Perfection  Horror-thriller  English     6.1   5/24/2019       90
4  Happy Anniversary  Romantic comedy  English     5.8   3/30/2018       78

   year
0  2020
1  2018
2  2020
3  2019
4  2018

In [40]:
# Rename the column 'release year' to 'year' from data 2
data2.rename(columns={'release year': 'year'}, inplace=True)

In [42]:
# Save the updated dataset for verification if needed
data2.to_csv(r'C:\Users\saman\Downloads\FP_BA_Netflix\clean_datan2.csv', index=False)

In [44]:
# Preview the new year column
print(data2.head())

                   title  rating  \
0           White Chicks     8.2
1    Lucky Number Slevin     8.1
2         Grey's Anatomy     9.8
3           Prison Break     9.8
4  How I Met Your Mother     9.4

                                         ratingLevel  ratingDescription  year  \
0  crude and sexual humor, language and some drug...                 80  2004
1  strong violence, sexual content and adult lang...                100  2006
2  Parents strongly cautioned. May be unsuitable ...                 90  2016
3  Parents strongly cautioned. May be unsuitable ...                 90  2008
4  Parental guidance suggested. May not be suitab...                 70  2014

   user rating size
0                80
1                82
2                80
3                80
4                80

In [46]:
# Display the first few rows of each dataset to understand their structure
print("Data 1:")
print(data1.head())

print("\nData 2:")
print(data2.head())

print("\nData 3:")
print(data3.head())

Data 1:
                    title  year certificate  duration_min  \
0               Cobra Kai  2018       TV-14          30.0
1               The Crown  2016       TV-MA          58.0
2        Better Call Saul  2015       TV-MA          46.0
3           Devil in Ohio  2022       TV-MA         356.0
4  Cyberpunk: Edgerunners  2022       TV-MA          24.0

                          genre  rating  \
0         Action, Comedy, Drama     8.5
1     Biography, Drama, History     8.7
2                  Crime, Drama     8.9
3        Drama, Horror, Mystery     5.9
4  Animation, Action, Adventure     8.6

                                         description  \
0  Decades after their 1984 All Valley Karate Tou...
1  Follows the political rivalries and romance of...
2  The trials and tribulations of criminal lawyer...
3  When a psychiatrist shelters a mysterious cult...
4  A Street Kid trying to survive in a technology...

                                               stars     votes
0  ['Ralph Macchio, ', 'William Zabka, ', 'Courtn...  177031.0
1  ['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...  199885.0
2  ['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...  501384.0
3  ['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...    9773.0
4  ['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...   15413.0

Data 2:
                   title  rating  \
0           White Chicks     8.2
1    Lucky Number Slevin     8.1
2         Grey's Anatomy     9.8
3           Prison Break     9.8
4  How I Met Your Mother     9.4

                                         ratingLevel  ratingDescription  year  \
0  crude and sexual humor, language and some drug...                 80  2004
1  strong violence, sexual content and adult lang...                100  2006
2  Parents strongly cautioned. May be unsuitable ...                 90  2016
3  Parents strongly cautioned. May be unsuitable ...                 90  2008
4  Parental guidance suggested. May not be suitab...                 70  2014

   user rating size
0                80
1                82
2                80
3                80
4                80

Data 3:
               title            genre language  rating    premiere  runtime  \
0   Notes for My Son            Drama  Spanish     6.3  11/24/2020       83
1   To Each, Her Own  Romantic comedy   French     5.3   6/24/2018       95
2      The Lovebirds  Romantic comedy  English     6.1   5/22/2020       87
3     The Perfection  Horror-thriller  English     6.1   5/24/2019       90
4  Happy Anniversary  Romantic comedy  English     5.8   3/30/2018       78

   year
0  2020
1  2018
2  2020
3  2019
4  2018

In [50]:
# Check for missing values
print("Data 1:")
print(data1.isnull().sum())

print("\nData 2:")
print(data2.isnull().sum())

print("\nData 3:")
print(data3.isnull().sum())

Data 1:
title           0
year            0
certificate     0
duration_min    0
genre           0
rating          0
description     0
stars           0
votes           0
dtype: int64

Data 2:
title                0
rating               0
ratingLevel          0
ratingDescription    0
year                 0
user rating size     0
dtype: int64

Data 3:
title       0
genre       0
language    0
rating      0
premiere    0
runtime     0
year        0
dtype: int64

In [52]:
# Step 1: Merge Dataset 1 and Dataset 2 on 'title' , 'year' and 'rating'
merged_1_2 = pd.merge(data1, data2, on=['title', 'year' , 'rating'], how='outer', suffixes=('_data1', '_data2'))

In [54]:
# Convert 'year' column to int in both DataFrames to ensure they are of the same type
merged_1_2['year'] = merged_1_2['year'].astype(int)  # Convert to int
data3['year'] = data3['year'].astype(int)  # Convert to int

In [56]:
# Step 2: Merge the result with Dataset 3 on 'title' , 'year' , 'rating' and 'genre'
final_merged_data = pd.merge(merged_1_2, data3, on=['title', 'year', 'rating', 'genre'], how='outer', suffixes=('', '_data3'))

In [58]:
# Save the final merged dataset
output_path = r'C:\Users\saman\Downloads\FP_BA_Netflix\final_merged_data.csv'
final_merged_data.to_csv(output_path, index=False)

In [60]:
# Preview the new dataset
print(final_merged_data.head())

                           title  year certificate  duration_min  \
0                       #ABtalks  2018       TV-MA      73.77162
1                         #Alive  2020       TV-MA      98.00000
2  #AnneFrank - Parallel Stories  2019       TV-MA      92.00000
3                       #BlackAF  2020       TV-MA      36.00000
4            #FriendButMarried 2  2020       TV-14     100.00000

                      genre  rating  \
0                    Comedy     9.1
1     Action, Drama, Horror     6.3
2            Drama, History     6.5
3                    Comedy     6.7
4  Biography, Comedy, Drama     6.9

                                         description  \
0  #ABtalks is an interview show hosted by Anas B...
1  The rapid spread of an unknown infection has l...
2  It is based on five women who did survive the ...
3  A father takes an irreverent and honest approa...
4  Ayudia (Mawar De Jongh) is not satisfied enoug...

                                               stars    votes ratingLevel  \
0  ['Karen Wazen, ', 'Deema Al Asadi, ', 'Hala Ab...     15.0         NaN
1  ['Il Cho', '| ', '    Stars:', 'Yoo Ah-in, ', ...  39285.0         NaN
2  ['Sabina Fedeli, ', 'Anna Migotto', '| ', '   ...   1569.0         NaN
3  ['Rashida Jones, ', 'Kenya Barris, ', 'Iman Be...   4887.0         NaN
4  ['Rako Prijanto', '| ', '    Stars:', 'Adipati...    317.0         NaN

   ratingDescription  user rating size language premiere  runtime
0                NaN               NaN      NaN      NaN      NaN
1                NaN               NaN      NaN      NaN      NaN
2                NaN               NaN      NaN      NaN      NaN
3                NaN               NaN      NaN      NaN      NaN
4                NaN               NaN      NaN      NaN      NaN

In [62]:
# Check for missing values
print(final_merged_data.isnull().sum())

title                    0
year                     0
certificate           1092
duration_min          1092
genre                  498
rating                   0
description           1092
stars                 1092
votes                 1092
ratingLevel          10550
ratingDescription    10550
user rating size     10550
language             10412
premiere             10412
runtime              10412
dtype: int64

In [64]:
# Remove '#' from the 'title' column in the merged dataset
final_merged_data['title'] = final_merged_data['title'].str.replace('#', '', regex=False)

In [66]:
# Save the updated dataset
output_path = r'C:\Users\saman\Downloads\FP_BA_Netflix\final_merged_data.csv'
final_merged_data.to_csv(output_path, index=False)

In [68]:
# Preview the new dataset
print(final_merged_data.head())

                          title  year certificate  duration_min  \
0                       ABtalks  2018       TV-MA      73.77162
1                         Alive  2020       TV-MA      98.00000
2  AnneFrank - Parallel Stories  2019       TV-MA      92.00000
3                       BlackAF  2020       TV-MA      36.00000
4            FriendButMarried 2  2020       TV-14     100.00000

                      genre  rating  \
0                    Comedy     9.1
1     Action, Drama, Horror     6.3
2            Drama, History     6.5
3                    Comedy     6.7
4  Biography, Comedy, Drama     6.9

                                         description  \
0  #ABtalks is an interview show hosted by Anas B...
1  The rapid spread of an unknown infection has l...
2  It is based on five women who did survive the ...
3  A father takes an irreverent and honest approa...
4  Ayudia (Mawar De Jongh) is not satisfied enoug...

                                               stars    votes ratingLevel  \
0  ['Karen Wazen, ', 'Deema Al Asadi, ', 'Hala Ab...     15.0         NaN
1  ['Il Cho', '| ', '    Stars:', 'Yoo Ah-in, ', ...  39285.0         NaN
2  ['Sabina Fedeli, ', 'Anna Migotto', '| ', '   ...   1569.0         NaN
3  ['Rashida Jones, ', 'Kenya Barris, ', 'Iman Be...   4887.0         NaN
4  ['Rako Prijanto', '| ', '    Stars:', 'Adipati...    317.0         NaN

   ratingDescription  user rating size language premiere  runtime
0                NaN               NaN      NaN      NaN      NaN
1                NaN               NaN      NaN      NaN      NaN
2                NaN               NaN      NaN      NaN      NaN
3                NaN               NaN      NaN      NaN      NaN
4                NaN               NaN      NaN      NaN      NaN

In [72]:
# Remove '#' from the 'description' column in the merged dataset
final_merged_data['description'] = final_merged_data['description'].str.replace('#', '', regex=False)

In [74]:
# Save the updated dataset
output_path = r'C:\Users\saman\Downloads\FP_BA_Netflix\final_merged_data.csv'
final_merged_data.to_csv(output_path, index=False)

In [76]:
# Preview the new dataset
print(final_merged_data.head())

                          title  year certificate  duration_min  \
0                       ABtalks  2018       TV-MA      73.77162
1                         Alive  2020       TV-MA      98.00000
2  AnneFrank - Parallel Stories  2019       TV-MA      92.00000
3                       BlackAF  2020       TV-MA      36.00000
4            FriendButMarried 2  2020       TV-14     100.00000

                      genre  rating  \
0                    Comedy     9.1
1     Action, Drama, Horror     6.3
2            Drama, History     6.5
3                    Comedy     6.7
4  Biography, Comedy, Drama     6.9

                                         description  \
0  ABtalks is an interview show hosted by Anas Bu...
1  The rapid spread of an unknown infection has l...
2  It is based on five women who did survive the ...
3  A father takes an irreverent and honest approa...
4  Ayudia (Mawar De Jongh) is not satisfied enoug...

                                               stars    votes ratingLevel  \
0  ['Karen Wazen, ', 'Deema Al Asadi, ', 'Hala Ab...     15.0         NaN
1  ['Il Cho', '| ', '    Stars:', 'Yoo Ah-in, ', ...  39285.0         NaN
2  ['Sabina Fedeli, ', 'Anna Migotto', '| ', '   ...   1569.0         NaN
3  ['Rashida Jones, ', 'Kenya Barris, ', 'Iman Be...   4887.0         NaN
4  ['Rako Prijanto', '| ', '    Stars:', 'Adipati...    317.0         NaN

   ratingDescription  user rating size language premiere  runtime
0                NaN               NaN      NaN      NaN      NaN
1                NaN               NaN      NaN      NaN      NaN
2                NaN               NaN      NaN      NaN      NaN
3                NaN               NaN      NaN      NaN      NaN
4                NaN               NaN      NaN      NaN      NaN

## Exploratory Data Analysis (EDA)

In [79]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [81]:
# Check the first few rows of the data
print(final_merged_data.head())

                          title  year certificate  duration_min  \
0                       ABtalks  2018       TV-MA      73.77162
1                         Alive  2020       TV-MA      98.00000
2  AnneFrank - Parallel Stories  2019       TV-MA      92.00000
3                       BlackAF  2020       TV-MA      36.00000
4            FriendButMarried 2  2020       TV-14     100.00000

                      genre  rating  \
0                    Comedy     9.1
1     Action, Drama, Horror     6.3
2            Drama, History     6.5
3                    Comedy     6.7
4  Biography, Comedy, Drama     6.9

                                         description  \
0  ABtalks is an interview show hosted by Anas Bu...
1  The rapid spread of an unknown infection has l...
2  It is based on five women who did survive the ...
3  A father takes an irreverent and honest approa...
4  Ayudia (Mawar De Jongh) is not satisfied enoug...

                                               stars    votes ratingLevel  \
0  ['Karen Wazen, ', 'Deema Al Asadi, ', 'Hala Ab...     15.0         NaN
1  ['Il Cho', '| ', '    Stars:', 'Yoo Ah-in, ', ...  39285.0         NaN
2  ['Sabina Fedeli, ', 'Anna Migotto', '| ', '   ...   1569.0         NaN
3  ['Rashida Jones, ', 'Kenya Barris, ', 'Iman Be...   4887.0         NaN
4  ['Rako Prijanto', '| ', '    Stars:', 'Adipati...    317.0         NaN

   ratingDescription  user rating size language premiere  runtime
0                NaN               NaN      NaN      NaN      NaN
1                NaN               NaN      NaN      NaN      NaN
2                NaN               NaN      NaN      NaN      NaN
3                NaN               NaN      NaN      NaN      NaN
4                NaN               NaN      NaN      NaN      NaN

In [83]:
# Get a summary of the dataframe
print(final_merged_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11053 entries, 0 to 11052
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              11053 non-null  object
 1   year               11053 non-null  int32
 2   certificate        9961 non-null   object
 3   duration_min       9961 non-null   float64
 4   genre              10555 non-null  object
 5   rating             11053 non-null  float64
 6   description        9961 non-null   object
 7   stars              9961 non-null   object
 8   votes              9961 non-null   float64
 9   ratingLevel        503 non-null    object
 10  ratingDescription  503 non-null    float64
 11  user rating size   503 non-null    float64
 12  language           641 non-null    object
 13  premiere           641 non-null    object
 14  runtime            641 non-null    float64
dtypes: float64(6), int32(1), object(8)
memory usage: 1.2+ MB
None

In [85]:
# Describe the numerical columns
print(final_merged_data.describe())

               year  duration_min        rating         votes  \
count  11053.000000   9961.000000  11053.000000  9.961000e+03
mean    1900.670678     73.784461      6.799129  1.951831e+04
std      467.768037     44.843359      1.165370  8.224157e+04
min        0.000000      1.000000      1.700000  5.000000e+00
25%     2014.000000     46.000000      6.200000  3.580000e+02
50%     2018.000000     73.771620      6.764515  1.745000e+03
75%     2020.000000     93.000000      7.600000  1.506200e+04
max     2025.000000    990.000000      9.900000  1.844075e+06

       ratingDescription  user rating size     runtime
count         503.000000        503.000000  641.000000
mean           68.880716         80.966203   93.371295
std            31.453464          0.998430   28.071160
min            10.000000         80.000000    4.000000
25%            41.000000         80.000000   86.000000
50%            70.000000         80.000000   97.000000
75%            90.000000         82.000000  107.000000
max           124.000000         82.000000  209.000000

In [87]:
# Check for missing values
print(final_merged_data.isnull().sum())

title                    0
year                     0
certificate           1092
duration_min          1092
genre                  498
rating                   0
description           1092
stars                 1092
votes                 1092
ratingLevel          10550
ratingDescription    10550
user rating size     10550
language             10412
premiere             10412
runtime              10412
dtype: int64

In [89]:
# Check for duplicates
print(final_merged_data.duplicated().sum())

58

In [93]:
# Find duplicate rows
duplicates = final_merged_data[final_merged_data.duplicated()]

In [95]:
# Display duplicate rows
print(duplicates)

                                                  title  year certificate  \
46                                                 13th  2016         NaN
63                                                 1922  2017         NaN
122                                    5 Star Christmas  2018         NaN
249                                       A Secret Love  2020         NaN
298                                            AK vs AK  2020         NaN
665                                    Army of the Dead  2021         NaN
979                                 Beasts of No Nation  2015         NaN
1997                                    Crazy About Her  2021         NaN
2040                            Cuba and the Cameraman   2017         NaN
2099             Dance Dreams: Hot Chocolate Nutcracker  2020         NaN
2189           David Attenborough: A Life on Our Planet  2020         NaN
2288                         Deidra & Laney Rob a Train  2017         NaN
2465             Dolly Parton's Christmas on the Square  2020         NaN
2607                                    Earth and Blood  2020         NaN
2774                                             Evelyn  2019         NaN
2827                                           Extremis  2016         NaN
3100                           Freaks: You're One of Us  2020         NaN
3262                               Ghosts of Sugar Land  2019         NaN
3503                Guillermo Vilas: Settling the Score  2020         NaN
3714                                         Heroin(e)   2017         NaN
3795                                          His House  2020         NaN
3834                                Holiday in the Wild  2019         NaN
3943                                       House Arrest  2019       TV-MA
4093                                              Ibiza  2018         NaN
4104                     If Anything Happens I Love You  2020         NaN
4125                                    Imperial Dreams  2017         NaN
4211                                          Intuition  2020         NaN
4261                                         Isi & Ossi  2020         NaN
4532                                        June & Kopi  2021         NaN
4764                                       LA Originals  2020       TV-MA
4818                                          Laerte-se  2017         NaN
6078                 Octonauts & the Great Barrier Reef  2020         NaN
6303                                        Paper Lives  2021         NaN
6311                                            Paradox  2018         NaN
6328                                        Paris Is Us  2019         NaN
6483   Porta dos Fundos: The First Temptation of Christ  2019         NaN
6485                Porta dos Fundos: The Last Hangover  2018         NaN
6677                                       Rajma Chawal  2018         NaN
6978                                  Rooting for Roona  2020         NaN
6995                                    Roxanne Roxanne  2018         NaN
7120                                       Sandy Wexler  2017       TV-14
7134                    Sarah Cooper: Everything's Fine  2020         NaN
7301                                         Sextuplets  2019       TV-14
7563                                      Someone Great  2019         NaN
7638                               Spenser Confidential  2020         NaN
7676                                       Squared Love  2021         NaN
8002                                           Tallulah  2016         NaN
8493                                       The Disciple  2021         NaN
8496                                      The Discovery  2017         NaN
8839                                       The Irishman  2019         NaN
8958              The Legacy of a Whitetail Deer Hunter  2018         NaN
9148                                     The Open House  2018         NaN
9209                                     The Perfection  2019         NaN
9352                                  The Rachel Divide  2018         NaN
10284                                            Ultras  2020         NaN
10305                                          Uncorked  2020         NaN
10341                                   Unknown Origins  2020         NaN
10544                                    Velvet Buzzsaw  2019         NaN

       duration_min                    genre  rating  \
46              NaN              Documentary     8.2
63              NaN       Horror/Crime drama     6.3
122             NaN                   Comedy     4.6
249             NaN              Documentary     7.9
298             NaN                 Thriller     6.9
665             NaN             Zombie/Heist     5.9
979             NaN                War drama     7.7
1997            NaN          Romantic comedy     6.6
2040            NaN              Documentary     8.3
2099            NaN              Documentary     7.1
2189            NaN              Documentary     9.0
2288            NaN                    Drama     6.1
2465            NaN        Christmas musical     5.2
2607            NaN                   Action     4.9
2774            NaN              Documentary     7.1
2827            NaN              Documentary     7.3
3100            NaN       Supernatural drama     5.4
3262            NaN              Documentary     5.5
3503            NaN              Documentary     7.1
3714            NaN              Documentary     6.8
3795            NaN                 Thriller     6.5
3834            NaN        Adventure-romance     6.1
3943          104.0                   Comedy     5.5
4093            NaN                   Comedy     5.2
4104            NaN        Animation / Short     7.8
4125            NaN                    Drama     6.7
4211            NaN                 Thriller     5.3
4261            NaN          Romantic comedy     6.4
4532            NaN                    Drama     6.3
4764           92.0              Documentary     7.2
4818            NaN              Documentary     6.9
6078            NaN                Animation     7.3
6303            NaN                    Drama     6.7
6311            NaN  Musical/Western/Fantasy     3.9
6328            NaN            Romance drama     4.6
6483            NaN                   Comedy     4.6
6485            NaN                   Comedy     6.3
6677            NaN             Comedy-drama     5.8
6978            NaN              Documentary     7.1
6995            NaN                   Biopic     6.2
7120          130.0                   Comedy     5.2
7134            NaN             Variety show     5.6
7301           97.0                   Comedy     4.4
7563            NaN          Romantic comedy     6.2
7638            NaN            Action comedy     6.2
7676            NaN          Romantic comedy     5.0
8002            NaN             Comedy-drama     6.7
8493            NaN                    Drama     7.2
8496            NaN    Science fiction/Drama     6.3
8839            NaN              Crime drama     7.8
8958            NaN         Adventure/Comedy     5.5
9148            NaN          Horror thriller     3.2
9209            NaN          Horror-thriller     6.1
9352            NaN              Documentary     6.2
10284           NaN              Sports film     5.9
10305           NaN                    Drama     6.3
10341           NaN                 Thriller     6.1
10544           NaN                 Thriller     5.7

                                             description  \
46                                                   NaN
63                                                   NaN
122                                                  NaN
249                                                  NaN
298                                                  NaN
665                                                  NaN
979                                                  NaN
1997                                                 NaN
2040                                                 NaN
2099                                                 NaN
2189                                                 NaN
2288                                                 NaN
2465                                                 NaN
2607                                                 NaN
2774                                                 NaN
2827                                                 NaN
3100                                                 NaN
3262                                                 NaN
3503                                                 NaN
3714                                                 NaN
3795                                                 NaN
3834                                                 NaN
3943   A world-weary man's self-imposed home confinem...
4093                                                 NaN
4104                                                 NaN
4125                                                 NaN
4211                                                 NaN
4261                                                 NaN
4532                                                 NaN
4764   Photographer Estevan Oriol and artist Mister C...
4818                                                 NaN
6078                                                 NaN
6303                                                 NaN
6311                                                 NaN
6328                                                 NaN
6483                                                 NaN
6485                                                 NaN
6677                                                 NaN
6978                                                 NaN
6995                                                 NaN
7120   Sandy Wexler is a talent manager working in Lo...
7134                                                 NaN
7301   Father-to-be Alan is shocked to learn that he ...
7563                                                 NaN
7638                                                 NaN
7676                                                 NaN
8002                                                 NaN
8493                                                 NaN
8496                                                 NaN
8839                                                 NaN
8958                                                 NaN
9148                                                 NaN
9209                                                 NaN
9352                                                 NaN
10284                                                NaN
10305                                                NaN
10341                                                NaN
10544                                                NaN

                                                   stars    votes ratingLevel  \
46                                                   NaN      NaN         NaN
63                                                   NaN      NaN         NaN
122                                                  NaN      NaN         NaN
249                                                  NaN      NaN         NaN
298                                                  NaN      NaN         NaN
665                                                  NaN      NaN         NaN
979                                                  NaN      NaN         NaN
1997                                                 NaN      NaN         NaN
2040                                                 NaN      NaN         NaN
2099                                                 NaN      NaN         NaN
2189                                                 NaN      NaN         NaN
2288                                                 NaN      NaN         NaN
2465                                                 NaN      NaN         NaN
2607                                                 NaN      NaN         NaN
2774                                                 NaN      NaN         NaN
2827                                                 NaN      NaN         NaN
3100                                                 NaN      NaN         NaN
3262                                                 NaN      NaN         NaN
3503                                                 NaN      NaN         NaN
3714                                                 NaN      NaN         NaN
3795                                                 NaN      NaN         NaN
3834                                                 NaN      NaN         NaN
3943   ['Samit Basu, ', 'Shashanka Ghosh', '| ', '   ...   1668.0         NaN
4093                                                 NaN      NaN         NaN
4104                                                 NaN      NaN         NaN
4125                                                 NaN      NaN         NaN
4211                                                 NaN      NaN         NaN
4261                                                 NaN      NaN         NaN
4532                                                 NaN      NaN         NaN
4764   ['Estevan Oriol', '| ', '    Stars:', 'Estevan...   1837.0         NaN
4818                                                 NaN      NaN         NaN
6078                                                 NaN      NaN         NaN
6303                                                 NaN      NaN         NaN
6311                                                 NaN      NaN         NaN
6328                                                 NaN      NaN         NaN
6483                                                 NaN      NaN         NaN
6485                                                 NaN      NaN         NaN
6677                                                 NaN      NaN         NaN
6978                                                 NaN      NaN         NaN
6995                                                 NaN      NaN         NaN
7120   ['Steven Brill', '| ', '    Stars:', 'Adam San...  17257.0         NaN
7134                                                 NaN      NaN         NaN
7301   ['Michael Tiddes', '| ', '    Stars:', 'Marlon...   8687.0         NaN
7563                                                 NaN      NaN         NaN
7638                                                 NaN      NaN         NaN
7676                                                 NaN      NaN         NaN
8002                                                 NaN      NaN         NaN
8493                                                 NaN      NaN         NaN
8496                                                 NaN      NaN         NaN
8839                                                 NaN      NaN         NaN
8958                                                 NaN      NaN         NaN
9148                                                 NaN      NaN         NaN
9209                                                 NaN      NaN         NaN
9352                                                 NaN      NaN         NaN
10284                                                NaN      NaN         NaN
10305                                                NaN      NaN         NaN
10341                                                NaN      NaN         NaN
10544                                                NaN      NaN         NaN

       ratingDescription  user rating size      language    premiere  runtime
46                   NaN               NaN       English   10/7/2016    100.0
63                   NaN               NaN       English  10/20/2017    102.0
122                  NaN               NaN       Italian   12/7/2018     95.0
249                  NaN               NaN       English   4/29/2020     82.0
298                  NaN               NaN         Hindi  12/24/2020    108.0
665                  NaN               NaN       English   5/21/2021    148.0
979                  NaN               NaN  English/Akan  10/16/2015    136.0
1997                 NaN               NaN       Spanish   2/26/2021    102.0
2040                 NaN               NaN       English  11/24/2017    114.0
2099                 NaN               NaN       English  11/27/2020     80.0
2189                 NaN               NaN       English   10/4/2020     83.0
2288                 NaN               NaN       English   3/17/2017     94.0
2465                 NaN               NaN       English  11/22/2020     98.0
2607                 NaN               NaN        French   4/17/2020     80.0
2774                 NaN               NaN       English   9/10/2019     96.0
2827                 NaN               NaN       English   9/13/2016     24.0
3100                 NaN               NaN        German    9/2/2020     92.0
3262                 NaN               NaN       English  10/16/2019     21.0
3503                 NaN               NaN       Spanish  10/27/2020     94.0
3714                 NaN               NaN       English   9/12/2017     39.0
3795                 NaN               NaN       English  10/30/2020     93.0
3834                 NaN               NaN       English   11/1/2019     85.0
3943                 NaN               NaN         Hindi  11/15/2019    104.0
4093                 NaN               NaN       English   5/25/2018     94.0
4104                 NaN               NaN       English  11/20/2020     12.0
4125                 NaN               NaN       English    2/3/2017     87.0
4211                 NaN               NaN       Spanish   5/28/2020    116.0
4261                 NaN               NaN        German   2/14/2020    113.0
4532                 NaN               NaN    Indonesian   1/28/2021     90.0
4764                 NaN               NaN       English   4/10/2020     92.0
4818                 NaN               NaN    Portuguese   5/19/2017    100.0
6078                 NaN               NaN       English  10/13/2020     47.0
6303                 NaN               NaN       Turkish   3/12/2021     97.0
6311                 NaN               NaN       English   3/23/2018     73.0
6328                 NaN               NaN        French   2/22/2019     83.0
6483                 NaN               NaN    Portuguese   12/3/2019     46.0
6485                 NaN               NaN    Portuguese  12/21/2018     44.0
6677                 NaN               NaN         Hindi  11/30/2018    118.0
6978                 NaN               NaN       Bengali  10/15/2020     41.0
6995                 NaN               NaN       English   3/23/2018     98.0
7120                 NaN               NaN       English   4/14/2017    131.0
7134                 NaN               NaN       English  10/27/2020     49.0
7301                 NaN               NaN       English   8/16/2019     99.0
7563                 NaN               NaN       English   4/19/2019     92.0
7638                 NaN               NaN       English    3/6/2020    111.0
7676                 NaN               NaN        Polish   2/11/2021    102.0
8002                 NaN               NaN       English   7/29/2016    111.0
8493                 NaN               NaN       Marathi   4/30/2021    129.0
8496                 NaN               NaN       English   3/31/2017    102.0
8839                 NaN               NaN       English  11/27/2019    209.0
8958                 NaN               NaN       English    7/6/2018     83.0
9148                 NaN               NaN       English   1/19/2018     94.0
9209                 NaN               NaN       English   5/24/2019     90.0
9352                 NaN               NaN       English   4/27/2018    104.0
10284                NaN               NaN       Italian   3/20/2020    108.0
10305                NaN               NaN       English   3/27/2020    103.0
10341                NaN               NaN       Spanish   8/28/2020     96.0